body {
  background-color: #fde4cd;
  color: #7d1e18;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-weight: 480;
  font-size: 50px;
  line-height: 62px;
  margin: 62px 0px 0px 50px;
}

p {
  margin: 30px 50px;
}

footer {
  font-size: 12px;
  text-align: center;
  font-style: italic;
  margin-top: 55px;
}

.footer-links {
  opacity: 100%;
  color: #7d1e18;
  font-weight: 500;
}

.footer-text {
  opacity: 64%;
}

.search-form {
  text-align: center;
  margin: 168px auto 55px;
  max-width: 90%;
}

.search-input {
  background-color: #fde4cd;
  border: none;
  border-radius: 8px;
  box-shadow: -7px -7px 8px rgba(255, 241, 229, 70%) inset,
    7px 7px 8px rgb(219, 192, 168, 60%) inset;
  color: #7d1e18;
  height: 44px;
  margin-right: 26px;
  padding: 20px;
  width: 499px;
}

::placeholder {
  color: #7d4918;
  font-size: 12px;
  opacity: 50%;
}

.search-input:focus {
  outline: none;
  background-color: rgb(255, 234, 215);
}

.search-button {
  background: linear-gradient(
    150deg,
    rgb(255, 234, 215) 0%,
    rgb(255, 226, 199) 100%
  );
  border: none;
  border-radius: 8px;
  box-shadow: -7px -7px 8px rgba(255, 241, 229, 70%),
    7px 7px 8px rgb(219, 192, 168, 60%);
  color: #7d4918;
  cursor: pointer;
  font-size: 14px;
  height: 44px;
  width: 164px;
}

.search-button:hover {
  background: linear-gradient(150deg, #fde4cd 0%, #fde4cd) padding-box,
    linear-gradient(150deg, rgb(255, 234, 215) 0%, rgb(255, 226, 199) 100%)
      border-box;
  border: 6px solid transparent;
  border-radius: 8px;
  box-shadow: -7px -7px 8px rgba(255, 241, 229, 70%),
    7px 7px 8px rgb(219, 192, 168, 60%),
    -7px -7px 8px rgba(255, 241, 229, 70%) inset,
    7px 7px 8px rgb(219, 192, 168, 60%) inset;
}

.search-button:active {
  background-color: #fde4cd;
  border: none;
  border-radius: 8px;
  box-shadow: 7px 7px 8px rgb(219, 192, 168, 60%) inset,
    -7px -7px 8px rgba(255, 241, 229, 70%) inset;
  height: 44px;
  width: 164px;
  transition: all 200ms ease-in-out;
}

.weather-app {
  background: linear-gradient(150deg, #ffe7d1 50%, #fae0c7 100%);
  border-radius: 20px;
  box-shadow: -20px -20px 40px rgba(255, 241, 229, 70%),
    20px 20px 40px rgb(219, 192, 168, 60%);
  height: 520px;
  margin: 0px auto;
  width: 774px;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.current-temperature {
  display: flex;
  margin-right: 50px;
  margin-top: 62px;
  text-align: right;
}

.current-icon {
  width: 100px;
  height: 100px;
}

.current-degrees {
  display: flex;
  line-height: 80px;
  font-size: 100px;
  font-weight: 500;
}

.current-degrees-unit {
  display: block;
  font-size: 30px;
  font-weight: 300;
  text-align: right;
}

#humidity {
  opacity: 100%;
  font-weight: 500;
}

#wind {
  opacity: 100%;
  font-weight: 500;
}

.current-conditions {
  color: #7d1e18;
  opacity: 64%;
}

.weather-forecast {
  margin-top: 120px;
  text-align: center;
}

.day-1 {
  background: linear-gradient(150deg, #ffe7d1 50%, #fae0c7 100%);
  border-radius: 20px;
  box-shadow: -7px -7px 8px rgba(255, 241, 229, 70%),
    7px 7px 8px rgb(219, 192, 168, 60%);
  height: 129px;
  margin: 0px auto;
  width: 89px;
  display: block;
  text-align: center;
}

.forecast-day {
  font-size: 16px;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 5px;
}

.forecast-icon {
  padding: 5px;
}

.forecast-temperature {
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.min-max-forecast {
  opacity: 64%;
}

#min-forecast-temperature {
  opacity: 100%;
  font-weight: 500;
}

#max-forecast-temperature {
  opacity: 100%;
  font-weight: 500;
}
